.vjs-big-play-button {
    display:none !important;
}
.vjs-control-bar {
    visibility: visible !important;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
}
.vjs-loading-spinner {
    display:none !important;
}
.video-js {
    width: 100% !important;
    max-width: 300px !important;
}